# Final project: Board game recommender

In [1208]:
# import libraries
import pandas as pd
import numpy as np
import scipy.stats as st

import requests
import pickle
from collections import Counter

pd.set_option("display.max_columns", 0) #no limit to cols we want to see

In [1209]:
# import datasets from boardgamegeek
categories = pd.read_csv('./csv_files/bgg_Category.csv')
game_families = pd.read_csv('./csv_files/bgg_GameFamily.csv')
game_items = pd.read_csv('./csv_files/bgg_GameItem.csv')
game_types = pd.read_csv('./csv_files/bgg_GameType.csv')
mechanics = pd.read_csv('./csv_files/bgg_Mechanic.csv')
authors = pd.read_csv('./csv_files/bgg_Person.csv')
publishers = pd.read_csv('./csv_files/bgg_Publisher.csv')

In [1210]:
game_items

        bgg_id                           name  ...  wikidata_id wikipedia_id
0            1                     Die Macher  ...          NaN          NaN
1            2                   Dragonmaster  ...          NaN          NaN
2            3                        Samurai  ...          NaN          NaN
3            4                 Tal der Könige  ...          NaN          NaN
4            5                        Acquire  ...          NaN          NaN
...        ...                            ...  ...          ...          ...
113899  391565                     Champions!  ...          NaN          NaN
113900  391715           Leitin að stjörnunni  ...          NaN          NaN
113901  391720  The String Railway Collection  ...          NaN          NaN
113902  391834                      SpellBook  ...          NaN          NaN
113903  392146            Nightmares of Sushi  ...          NaN          NaN

[113904 rows x 38 columns]

BoardGameGeek is our major target for information regarding the board games. It is a community-run database that includes user rankings and recommendations based on number of players: time to beat/finish: category: mechanics of game: etc. Each major filter is divided by dataframe that converges/is IDd in `game_items`: and we will now asess them.

In [1211]:
# reviewing categories - 84
display(categories.head(30))

    bgg_id                name
0     1001           Political
1     1002           Card Game
2     1008            Nautical
3     1009   Abstract Strategy
4     1010             Fantasy
5     1011      Transportation
6     1013             Farming
7     1015        Civilization
8     1016     Science Fiction
9     1017                Dice
10    1019             Wargame
11    1020         Exploration
12    1021            Economic
13    1022           Adventure
14    1023            Bluffing
15    1024              Horror
16    1025           Word Game
17    1026         Negotiation
18    1027              Trivia
19    1028              Puzzle
20    1029       City Building
21    1030          Party Game
22    1031              Racing
23    1032  Action / Dexterity
24    1033               Mafia
25    1034              Trains
26    1035            Medieval
27    1036         Prehistoric
28    1037           Real-time
29    1038              Sports

`Categories` show the genre of the game: or the theme that it will set in.

In [1212]:
# reviewing mechanics - 191
display(mechanics.head(30))

    bgg_id                           name
0     2001                  Action Points
1     2002                 Tile Placement
2     2003            Rock-Paper-Scissors
3     2004                 Set Collection
4     2005                  Stock Holding
5     2007            Pick-up and Deliver
6     2008                        Trading
7     2009                   Trick-taking
8     2010             Crayon Rail System
9     2011                  Modular Board
10    2012                Auction/Bidding
11    2013          Commodity Speculation
12    2014           Betting and Bluffing
13    2015         Variable Player Powers
14    2016         Secret Unit Deployment
15    2017                         Voting
16    2018  Campaign / Battle Card Driven
17    2019                Team-Based Game
18    2020  Simultaneous Action Selection
19    2021                   Area-Impulse
20    2023               Cooperative Game
21    2026                   Hexagon Grid
22    2027                   Storytelling
23    2028                   Role Playing
24    2035           Roll / Spin and Move
25    2038                        Singing
26    2039                   Line Drawing
27    2040                Hand Management
28    2041                  Open Drafting
29    2043                      Enclosure

`Mechanics` deals with specific approach to the game that will be the main way of playing: or give insight to what tools might be needed to play a round.

In [1213]:
# reviewing game types - 12
game_types

    bgg_id             name
0     4415            Amiga
1     4420     Commodore 64
2     4664         War Game
3     4665  Children's Game
4     4666    Abstract Game
5     4667     Customizable
6     4781           Arcade
7     4976         Atari ST
8     5496         Thematic
9     5497    Strategy Game
10    5498       Party Game
11    5499      Family Game

`game_types` are a broader type of category: that can encapsulate the audience it is meant for.

In [1214]:
# reviewing game_families - 4828
game_families

      bgg_id                                          name
0          1                            Admin: Test Family
1          2                             Game: Carcassonne
2          3                                   Game: Catan
3          4            Series: The Chicken Family of Zoch
4          5                                Game: Bohnanza
...      ...                                           ...
4823   80388  Series: Evolution of Airpower in World War 2
4824   80397   Series: Air War Book Games (Historic Wings)
4825   80399            Video Game Theme: Assassin's Creed
4826   80400           Video Game Theme: The Elder Scrolls
4827   80408   Digital Implementations: Boardible (Mobile)

[4828 rows x 2 columns]

In [1215]:
# reviewing game_items - 113904
game_items.isna().sum()

bgg_id                      0
name                        0
year                     9685
game_type               88074
designer                18251
artist                  66032
publisher                  52
min_players              1938
max_players              5456
min_players_rec          1938
max_players_rec          5456
min_players_best         1938
max_players_best         5456
min_age                 23263
min_age_rec            112778
min_time                22562
max_time                22562
category                 2214
mechanic                16767
cooperative            107550
compilation            112989
compilation_of         112989
family                  34859
implementation         108039
integration            109784
rank                    89425
num_votes               27722
avg_rating              27722
stddev_rating           45407
bayes_rating            88970
complexity              65614
language_dependency    113050
bga_id                 113904
dbpedia_id             113904
luding_id              113904
spielen_id             113904
wikidata_id            113904
wikipedia_id           113904
dtype: int64

***

#### Fun fact counts before cleaning:

In [1216]:
# tHERE ARE 328 KINDS OF CHESS IN THIS COMMUNITY
chess_count = game_items[(game_items.name.str.contains('Chess')) | (game_items.name.str.contains(' Chess')) | (game_items.name.str.contains(' chess'))][['name','year']]

                                              name    year
85767                                  Speed Chess     NaN
85988               Warmaster Chess 2000: Variants  1998.0
86578                                Chess Unbound  2018.0
86646                               Imperial Chess  1993.0
87582                                Gravity Chess  2013.0
87982                                  Super Chess  2018.0
88231                             Story Time Chess  2019.0
88633                                   Frog Chess  2019.0
89245                            Monkey King Chess  2004.0
89536                   King Arthur's Vortex Chess  2020.0
89708                Chess Kingdom Knight & Dragon  2017.0
89795                           Chess of Qin Style  2019.0
90319                                 Faerie Chess  2019.0
90506                                Shaolin Chess  2019.0
90757          Las Ligas de la Ñ Galaxia MusiChess  2019.0
91171                                 Castle Chess  2019.0
92664                         Chinese Travel Chess     NaN
92687                         TROSS!: Viking Chess  2020.0
92750   War Chess: Diplomacy of the Three Kingdoms  2008.0
92868                               Turnover Chess  2018.0
94242                                  Lazer Chess  1986.0
94245                                    Chessnuts  1985.0
95983                                  Tower Chess  2016.0
96253                                 3D XYZ Chess  2016.0
96349                         Chess But Way Cooler  2020.0
96672                           Puzzle Board Chess  2020.0
97497                        One-Dimensional Chess  2020.0
97682                                    Tri-Chess  1975.0
98013                               Oriental Chess     NaN
98988                     Star Arena: Arcade Chess  2020.0
99081                             Horseman's Chess  2021.0
99171                               Twisting Chess  2019.0
99386                              Anachrony Chess  2021.0
100206                               Quantum Chess  1995.0
100942                        Tridimensional chess  1975.0
101127                                 Cronk Chess     NaN
102298               Honeybee Brain Hexadoug Chess  1973.0
102585                                 Popit Chess  2021.0
104122                                 Guess Chess     NaN
104674                                 Level Chess  2019.0
104877                       Carolus Variant Chess  2021.0
104894                                Manolo Chess  1990.0
106014                                Hockey Chess  2021.0
106402                              Diplomat Chess  2003.0
106408                          Quadlevel 3D Chess  1998.0
106641                     Chess more than a game!  2012.0
106942                                  Tech Chess  2022.0
107137                  DaG Eight Chess (ダグエイトチェス)  2021.0
107952              Chess Openings: Essential Pack  2022.0
109354           Jim Henson's Labyrinth: Chess Set  2022.0
109399                            形棋 (Shape Chess)  2022.0
109404                             Three-man Chess  1984.0
109870                 The Original 3-D Chess Game  1967.0
110090                                  Orda Chess  2020.0
110314                                   Not Chess  2022.0
110690                               Warlord Chess  2004.0
110700                             Graveyard Chess  2023.0
110990             Probability Magic Kingdom Chess  2022.0
111361                                 Lunar Chess  2023.0
112649                                  Less Chess  2022.0

In [1218]:
# inlfuenced by historic events, there are 105 games about wwii
wwii_count = game_items[(game_items.name.str.contains(' War II'))][['name','year']]

                                                     name    year
44851   Combat Command: World War II Skirmish Rules fo...  2002.0
46430              Napoleon's War II: The Gates of Moscow  2011.0
47708   Kampfgruppe Normandy: Tabletop Wargame in Worl...  2011.0
49777                   G.I. World War II Tactical Combat  2001.0
50783   Victory Decision: Advanced Wargaming Rules – W...  2011.0
51124   Baptism of Fire III: World War II Skirmish War...  2009.0
53022   Tactical Commander: Rules for World War II Ski...  1982.0
53023                  Unit Organizations of World War II  1975.0
53126                       World War II: Blitzkrieg 1940  2012.0
55474                              World War II in Europe  2011.0
55475                         World War II in the Pacific  2012.0
56842                    Monopoly: America's World War II  2012.0
56895                On Wings: World War II Aerial Combat  2013.0
58017                           World War II: Tank Combat  2013.0
61043   Red Tide West: The Cold War & World War III in...  2014.0
61889               World War II: Battle for Moscow, 1941  2014.0
65509         NAVTAC: World War II Naval Miniatures Rules  1981.0
66743                  World War II: Stalingrad 1942-1943  2015.0
68317                    Strategic Decision: World War II  2015.0
69652   The Struggle for Portugal: Peninsular War III,...  2015.0
70598   Lock 'n Load Tactical: World War II Era Core R...  2015.0
76386    Operation Unthinkable: Churchill's World War III  2017.0
78208                         Combat Patrol: World War II  2016.0
78407                                       World War III  2017.0
82197     Team Yankee: Hammerfall – World War III Battles  2017.0
83395                              Stalin's World War III  2019.0
83579   Combat Command: Battalion Level Rules for Worl...  2015.0
84433              Victory: World War II – Second Edition  2019.0
86081                  Admirals' War: World War II at Sea  2019.0
86185                  Apocalypse: World War II in Europe  2023.0
86402          RN: Naval Superiority Game of World War II  1974.0
87709   From Salerno to Rome: World War II – The Itali...  2020.0
87778             Sandstorm: World War II in North Africa     NaN
90026   Built for War: Design, Build, and Destroy Worl...  2021.0
90744   Hexblitz: Operational Level World War II Warga...  2018.0
91273             Munich War: World War II in Europe 1938  2020.0
91768   This Hard & Calcined Earth: A card Wargame of ...  2017.0
91901   Brigadier General: World War II Miniature Rule...  2013.0
92176          Sector Commander: World War II – Rule Book  2016.0
92540         Panzer Truppe: Armor Combat in World War II  2006.0
92915                     Frontline Command: World War II  2011.0
92945              Tiger: Wargames Rules for World War II  1993.0
93197   Rules for Wargames: World War II – Infantry Co...     NaN
93356        Blue Water Navy: World War III – The Pacific     NaN
93494                          World War III: Team Yankee  2019.0
93624      Flames of War: Fury – World War II Tank Combat  2019.0
93949   Panzer Grenadier Deluxe: Tactical World War II...  2014.0
93957   Operation World War II: Skirmish Wargame Rules...  2010.0
94326    Garands & Grenades: Fast Play World War II Rules     NaN
94875                               Escaping World War II  2020.0
95459   Go For Broke!: A World War II Miniatures Skirm...  2020.0
96051   SeaLion Supremacy: World War II Tabletop Naval...  2017.0
96073   Naval War: The World War II Naval Miniatures Game  2014.0
96221             World War III: The Complete Starter Set  2020.0
97403                        History Heroes: World War II  2017.0
101394  BelloLudi: World War II – Skirmish Game 1939-1945  2021.0
106896      02 Hundred Hours: Night Raids in World War II  2022.0
108285      Combined Arms: The World War II Campaign Game  2022.0
112682                       General Orders: World War II  2023.0
112843     World War II: The Struggle for Europe and Asia  2023.0

In [1221]:
# 13 games involving data as direct topic or mechanism
data_count = game_items[(game_items.name.str.contains('Data')) | (game_items.name.str.contains(' Data '))]

        bgg_id  ... wikipedia_id
11104    12651  ...          NaN
12858    14673  ...          NaN
13525    15403  ...          NaN
44016    83071  ...          NaN
45060    89107  ...          NaN
57242   141133  ...          NaN
68786   184442  ...          NaN
70400   192221  ...          NaN
74421   213711  ...          NaN
77243   229370  ...          NaN
93887   307374  ...          NaN
98171   325323  ...          NaN
103935  347166  ...          NaN

[13 rows x 38 columns]

In [1222]:
# the oldest game
oldie = game_items[game_items['year'] == game_items['year'].min()][['name','year']]

       name    year
2060  Senet -3500.0

In [1223]:
# the longest game
longest_playtime = game_items[game_items['max_time'] == game_items['max_time'].max()][['name','year','min_time','max_time']]
longest_playtime
# to a 1051200hrs
# 43800 days

        name    year  min_time    max_time
104953  RAIN  2021.0       1.0  63072000.0

In [1224]:
# year counts
years = game_items[['year']]
years.value_counts().sort_values(ascending=False).head(60)

# top years per decade
top_year_decades = pd.DataFrame({'year':[2019,2009,1999,1986,1975,1969], 'count':[5087,2843,1125,899,605,318]})
top_year_decades

year
2019.0    5087
2020.0    4926
2021.0    4693
2018.0    4692
2022.0    4436
2017.0    4362
2016.0    4209
2015.0    3898
2014.0    3663
2013.0    3179
2012.0    3141
2011.0    3028
2010.0    2878
2009.0    2843
2023.0    2597
2007.0    2552
2008.0    2538
2005.0    2448
2006.0    2419
2004.0    2064
2003.0    1742
2002.0    1637
2001.0    1403
2000.0    1299
1999.0    1125
1998.0    1093
1995.0     957
1997.0     919
1990.0     912
1996.0     903
1986.0     899
1992.0     897
1987.0     889
1994.0     880
1991.0     867
1985.0     855
1989.0     846
1993.0     827
1988.0     803
1984.0     777
1983.0     733
1981.0     623
1980.0     617
1975.0     605
1982.0     586
1979.0     568
1977.0     566
1978.0     521
1976.0     520
1974.0     433
1973.0     420
1970.0     366
1972.0     353
1969.0     318
1971.0     275
2024.0     261
1965.0     233
1968.0     223
1960.0     217
1967.0     217
dtype: int64

In [1226]:
# save all this in files before cleaning
# chess_count.to_csv('chess_count.csv')
# wwii_count.to_csv('wwii_count.csv')
# data_count.to_csv('data_count.csv')
# longest_playtime.to_csv('longest_playtime.csv')
# oldie.to_csv('oldie.csv')
# years.to_csv('years.csv')

### Columns description:
- `bgg_id`: unique ID per board game; int.
- `name`: name of game; object.
- `year`: year of release; float.
- `game_type`: in-site's rough partition of game genres. Curently there are:
    - Uncategorized
    - Abstract Strategy Games (like Chess or Go)
    - Customizable Games (CCGs, CMGs, LCGs, etc.)
    - Thematic Games (emphasis on narrative)
    - Family Games (fun for kids and adults)
    - Children's Party Games (best for younger kids)
    - Strategy Games (more complex games)
    - Wargames (conflict simulation, etc.)
- `designer`: 
- `artist`:
- `publisher`:
- `min_players`: minimum of players by manufacturer; float.
- `max_players`: maximum of players by manufacturer; float.
- `min_players_rec`: minimum of players by the community; float.
- `max_players_rec`: maximum of players by the community; float.
- `min_players_best`: best minimum of players by the community; float.
- `max_players_best`: best maximum of players by the community; float.
- `min_age`: required minimum age to play; float.
- `min_age_rec`: required minimum age to play recommended by community; float.
- `min_time`: minimum gameplay time, measured in minutes; float.
- `max_time`: maximum gameplay time, measured in minutes; float.
- `category`: additional grouping approach based on like subjects or similar characteristics; object.
- `mechanic`: metaphorical term referring to a functional aspect of a game; object.
- `cooperative`: ??? ; float.
- `compilation`: boolean confirming whether it's part of a compilation of games; float.
- `compilation_of`: name of compilation; obj.
- `family`: group of games from the same franchise; obj.
- `implementation`: ???
- `integration`: ???
- `rank`
- `num_votes`
- `avg_rating`
- `stddev_rating`
- `bayes_rating`
- `complexity`: measure of difficulty of the gameplay between 1 and 5; float. 
- `language_dependency`: measure of how much text and other language dependencies appear on a game's components or during gameplay between 1 and 5; float. 
- `bga_id`: id of the game in different site.
- `dbpedia_id`: id of the game in different site.
- `luding_id`: id of the game in different site.
- `spielen_id`: id of the game in different site.
- `wikidata_id`: id of the game in different site.
- `wikipedia_id`: id of the game in different site.

### Columns to keep for mvp:
- `bgg_id`:
- `name`:
- `year`:
- `designer`:
- `publisher`:
- `game_type`: in-site's rough partition of game genres (currently 8); object. *
- `min_time`: minimum gameplay time, measured in minutes; float. *
- `max_time`:
- `min_age`:
- `min_players`: minimum of players by manufacturer; float. *
- `max_players`: 
- `category`: additional grouping approach based on like subjects or similar characteristics; object. *
- `mechanic`: metaphorical term referring to a functional aspect of a game; object. *
- `complexity`: measure of difficulty of the gameplay between 1 and 5; float. *
- `language_dependency`: measure of how much text and other language dependencies appear on a game's components or during gameplay between 1 and 5; float. *
- `avg_rating`: TBD
- `rank`: TBD 
### Columns to drop:
- `artist`:
- `min_players_rec`: 
- `max_players_rec`: 
- `min_players_best`:
- `max_players_best`: 
- `min_age_rec`:
- `family`:
- `implementation`:
- `integration`:
- `cooperative`: 
- `compilation`: 
- `compilation_of`:
- `num_votes`:
- `stddev_rating`:
- `bayes_rating`:
- `bga_id`:
- `dbpedia_id`:
- `luding_id`:
- `spielen_id`:
- `wikidata_id`:
- `wikipedia_id`:

In [1227]:
# drop cols that we don't need from game_items
game_items.drop([
    'artist', 'min_players_rec','max_players_rec', 'min_players_best', 'max_players_best', 
    'min_age_rec', 'cooperative', 'compilation', 'compilation_of', 'family',
    'implementation', 'integration', 'num_votes','stddev_rating', 'bayes_rating', 
    'bga_id', 'dbpedia_id', 'luding_id', 'spielen_id', 'wikidata_id', 'wikipedia_id'],
    axis = 1, inplace = True)

In [1228]:
game_items
game_items.isna().sum()

bgg_id                      0
name                        0
year                     9685
game_type               88074
designer                18251
publisher                  52
min_players              1938
max_players              5456
min_age                 23263
min_time                22562
max_time                22562
category                 2214
mechanic                16767
rank                    89425
avg_rating              27722
complexity              65614
language_dependency    113050
dtype: int64

In [1229]:
# assess nans in language_dep
test = round(game_items.language_dependency)
test.value_counts(dropna=False)

NaN    113050
1.0       400
4.0       149
2.0       146
3.0       144
5.0        15
Name: language_dependency, dtype: int64

In [1230]:
game_items[game_items.language_dependency.isna()]

        bgg_id                           name  ...  complexity language_dependency
1            2                   Dragonmaster  ...      1.9636                 NaN
3            4                 Tal der Könige  ...      2.6667                 NaN
5            6             Mare Mediterraneum  ...      3.0000                 NaN
6            7                      Cathedral  ...      1.7872                 NaN
7            8              Lords of Creation  ...      2.4000                 NaN
...        ...                            ...  ...         ...                 ...
113899  391565                     Champions!  ...         NaN                 NaN
113900  391715           Leitin að stjörnunni  ...         NaN                 NaN
113901  391720  The String Railway Collection  ...         NaN                 NaN
113902  391834                      SpellBook  ...         NaN                 NaN
113903  392146            Nightmares of Sushi  ...         NaN                 NaN

[113050 rows x 17 columns]

In [1231]:
# drop the lang_dep col
rankings = game_items[['name','rank']]
game_items.drop(columns=['language_dependency', 'rank', 'avg_rating', 'publisher', 'designer'], axis=1, inplace=True)

There are too many nans in `language_dependency` to be useful, so we are dropping it. We are also dropping `rank` and `avg_rating` due to having too many nans and not useful to our recommender, but we'll add `rank` again later for visualization.

In [1232]:
# assess nans in complexity
test = round(game_items.complexity)
test.value_counts(dropna=False)

NaN    65614
2.0    20134
1.0    17751
3.0     8062
4.0     2153
5.0      190
Name: complexity, dtype: int64

While there is a considerable amount of nans in `complexity`, the leftover amount is still good for a model so we will drop those nans and work with the data we have. Same with `category` and `mechanic`.

In [1233]:
# drop nans from complexity, mechanic and category
game_items.dropna(subset=['complexity', 'mechanic', 'category'], inplace=True)
game_items.reset_index(drop=True)

       bgg_id  ... complexity
0           1  ...     4.3144
1           2  ...     1.9636
2           3  ...     2.4784
3           4  ...     2.6667
4           5  ...     2.4985
...       ...  ...        ...
43087  389817  ...     2.0000
43088  389997  ...     2.0000
43089  390199  ...     2.0000
43090  390607  ...     2.0000
43091  391137  ...     3.6667

[43092 rows x 12 columns]

In [1234]:
# there are no board games with amiga, commodore, arcade, atari types so we will drop them from the game_types df
# drop values from game_type that are not present in game_items
game_types.drop(game_types[game_types.name.isin(['Amiga', 'Commodore 64', 'Arcade', 'Atari ST'])].index, inplace=True)
game_types.reset_index(drop=True, inplace=True)

In [1235]:
categories

    bgg_id               name
0     1001          Political
1     1002          Card Game
2     1008           Nautical
3     1009  Abstract Strategy
4     1010            Fantasy
..     ...                ...
79    2650  Aviation / Flight
80    2687      Fan Expansion
81    2710    Post-Napoleonic
82    2725      Pike and Shot
83    2726      Age of Reason

[84 rows x 2 columns]

In [1236]:
mechanics

     bgg_id                   name
0      2001          Action Points
1      2002         Tile Placement
2      2003    Rock-Paper-Scissors
3      2004         Set Collection
4      2005          Stock Holding
..      ...                    ...
186    3100                   Tags
187    3101               Ordering
188    3102  Questions and Answers
189    3103         Resource Queue
190    3104         Neighbor Scope

[191 rows x 2 columns]

***

In [1237]:
# assess nans in game types
# according to the documentation, there is an official catg as Uncategorized - so we can assume that the nans are these uncategorised (we could call them other)
game_items.game_type.isna().sum() # 88074
game_items.game_type.fillna(6000, inplace=True)

In [1238]:
# add an unique id for uncategorized in game_type
uncategorized_row = {'bgg_id': 6000, 'name': 'Uncategorized'}
game_types.loc[len(game_types)] = uncategorized_row
game_types

   bgg_id             name
0    4664         War Game
1    4665  Children's Game
2    4666    Abstract Game
3    4667     Customizable
4    5496         Thematic
5    5497    Strategy Game
6    5498       Party Game
7    5499      Family Game
8    6000    Uncategorized

***

In [1239]:
# assess nans in years
# replace nans with unknown - good for fun fact maybe
game_items['year'].fillna(0, inplace=True)
game_items['year'] = pd.to_numeric(game_items['year'], errors='coerce', downcast='integer')
# game_items['year'] = int(float(game_items['year']))
game_items['year'] = game_items['year'].astype(str).replace(str(0),'Unknown')
game_items['year'].value_counts(dropna=False)

2019     2182
2018     2051
2017     1996
2020     1959
2016     1898
         ...
1663        1
1200        1
1885        1
-1300       1
1917        1
Name: year, Length: 247, dtype: int64

In [1240]:
game_items[game_items['year'] == 'Unknown']

        bgg_id  ... complexity
282        318  ...     1.0000
3192      3684  ...     1.0000
3493      4031  ...     1.7632
3656      4213  ...     1.9714
3990      4599  ...     1.0000
...        ...  ...        ...
113111  383281  ...     3.0000
113594  387483  ...     4.0000
113623  387722  ...     2.0000
113701  388396  ...     2.0000
113818  389559  ...     1.5000

[1432 rows x 12 columns]

In [1241]:
game_items.isna().sum()

bgg_id            0
name              0
year              0
game_type         0
min_players     202
max_players     703
min_age        5655
min_time       3838
max_time       3838
category          0
mechanic          0
complexity        0
dtype: int64

In [1242]:
game_items

        bgg_id  ... complexity
0            1  ...     4.3144
1            2  ...     1.9636
2            3  ...     2.4784
3            4  ...     2.6667
4            5  ...     2.4985
...        ...  ...        ...
113841  389817  ...     2.0000
113848  389997  ...     2.0000
113855  390199  ...     2.0000
113876  390607  ...     2.0000
113889  391137  ...     3.6667

[43092 rows x 12 columns]

In [1243]:
# assess nans in min ad nmax time, players, and min age
print('mode of min players: ', game_items.min_players.mode()[0]) # 2
print('mode of max players: ', game_items.max_players.mode()[0]) # 4
print('mode of min time: ', game_items.min_time.mode()[0]) # 30
print('mean of min time: ', game_items.min_time.mean()) # 61
print('median of min time: ', game_items.min_time.median()) # 30
print('mean of max time: ', game_items.max_time.mean())# 90
print('mode of min age: ', game_items.min_age.mode()[0])# 12
print('mean of min age: ', game_items.min_age.mean())# 9
print('min of min age: ', game_items.min_age.min())# 1 lol

mode of min players:  2.0
mode of max players:  4.0
mode of min time:  30.0
mean of min time:  61.15942324349111
median of min time:  30.0
mean of max time:  92.62296835991236
mode of min age:  12.0
mean of min age:  9.99121190266314
min of min age:  1.0

In [1244]:
# replace: 
# min and max players with mode
# min and max time with mode
# min age with mean
game_items.min_players.fillna(game_items.min_players.mode()[0], inplace=True)
game_items.max_players.fillna(game_items.max_players.mode()[0], inplace=True)
game_items.min_time.fillna(game_items.min_time.mode()[0], inplace=True)
game_items.max_time.fillna(round(game_items.max_time.mean()), inplace=True)
game_items.min_age.fillna(round(game_items.min_age.mean()), inplace=True)

In [1245]:
# round numericals
game_items[['min_players','max_players','min_time','max_time','min_age','complexity']] = game_items[['min_players','max_players','min_time','max_time','min_age','complexity']].astype(int)

**Wednesday's steps:**
1. Drop language_dependency
2. Drop nans in complexity
3. Drop values from game_type that are not in game_items
4. Replace id refs with values
5. Cry a bit maybe
9. Drop mechanic nans
6. Replace min and max players with mode
7. Replace min age with mean
8. Replace min and max time with mode and mean
10. HOPEFULLY be ready to start treating it

In [1246]:
# round complexity numbers
game_items['complexity'] = round(game_items['complexity'])
game_items

        bgg_id  ... complexity
0            1  ...          4
1            2  ...          1
2            3  ...          2
3            4  ...          2
4            5  ...          2
...        ...  ...        ...
113841  389817  ...          2
113848  389997  ...          2
113855  390199  ...          2
113876  390607  ...          2
113889  391137  ...          3

[43092 rows x 12 columns]

In [1247]:
game_items.isna().sum()

bgg_id         0
name           0
year           0
game_type      0
min_players    0
max_players    0
min_age        0
min_time       0
max_time       0
category       0
mechanic       0
complexity     0
dtype: int64

In [1248]:
game_items.reset_index(drop=True, inplace=True)

***

In [1249]:
# fill category
c = categories.astype(str).set_index('bgg_id')['name']
c
game_items['category'] = (
    game_items['category'].str.split(',')
    .explode().map(c).groupby(level=0).agg(','.join)
)
game_items['category']

0                           Economic,Negotiation,Political
1                                        Card Game,Fantasy
2                               Abstract Strategy,Medieval
3                                                  Ancient
4                              Economic,Territory Building
                               ...
43087                      Card Game,Transportation,Travel
43088    Bluffing,Horror,Modern Warfare,Print & Play,Wa...
43089                       Adventure,Dice,Science Fiction
43090                                    Abstract Strategy
43091    Aviation / Flight,Economic,Industry / Manufact...
Name: category, Length: 43092, dtype: object

In [1250]:
# break down lists for top 20 values in category

res = []
for i, elem in enumerate(game_items["category"].to_list()):
    res.extend([''.join(filter(str.isalnum, e)).lower() for e in elem.split(sep=",")]) 


# make a new df to read better
df2 = pd.DataFrame()
df2 = df2.assign(listedWords=Counter(res).keys(),    # list each unique elements
                occurences=Counter(res).values())   # list occurences
df2.sort_values(by='occurences', ascending=False).head(20)

           listedWords  occurences
3             cardgame       11875
28             wargame        8660
4              fantasy        4560
11       childrensgame        4365
20                dice        4139
5     abstractstrategy        3598
40           partygame        3575
18      sciencefiction        3129
22           printplay        2953
21            fighting        2861
0             economic        2776
51             animals        2753
24          miniatures        2559
46          worldwarii        2547
32               humor        2266
39  moviestvradiotheme        2229
27           adventure        2079
36           deduction        1932
17            bluffing        1924
6             medieval        1862

In [1251]:
df2['listedWords'] = df2['listedWords'].str.capitalize()
df2['listedWords'] = df2['listedWords'].apply(lambda x: categories.loc[categories['name'].str[:5] == x[:5], 'name'].values[0] if any(categories['name'].str[:5] == x[:5]) else x)
df2

                listedWords  occurences
0                  Economic        2776
1               Negotiation        1199
2                 Political         995
3                  Cardgame       11875
4                   Fantasy        4560
..                      ...         ...
79           Mature / Adult         360
80              Vietnam War         161
81               Korean War          66
82  Expansion for Base-game          71
83             Fanexpansion           2

[84 rows x 2 columns]

In [1252]:
# fill mechanic
m = mechanics.astype(str).set_index('bgg_id')['name']
game_items['mechanic'] = (
    game_items['mechanic'].str.split(',')
    .explode().map(m).groupby(level=0).agg(','.join)
)
game_items['mechanic']

0        Alliances,Area Majority / Influence,Auction/Bi...
1                                             Trick-taking
2        Area Majority / Influence,Hand Management,Hexa...
3        Action Points,Area Majority / Influence,Auctio...
4        Hand Management,Investment,Market,Square Grid,...
                               ...
43087    Hand Management,Memory,Once-Per-Game Abilities...
43088    Dice Rolling,End Game Bonuses,Force Commitment...
43089                                Solo / Solitaire Game
43090                                Enclosure,Square Grid
43091    Action Points,Connections,End Game Bonuses,Han...
Name: mechanic, Length: 43092, dtype: object

In [1253]:
# break down lists for top 20 values in mechanics

res = []
for i, elem in enumerate(game_items["mechanic"].to_list()):
    res.extend([''.join(filter(str.isalnum, e)).lower() for e in elem.split(sep=",")]) 


# make a new df to read better
df3 = pd.DataFrame()
df3 = df3.assign(listedWords=Counter(res).keys(),    # list each unique elements
            occurences=Counter(res).values())   # list occurences
df3.sort_values(by='occurences', ascending=False).head(20)

                     listedWords  occurences
3                    dicerolling       12926
4                 handmanagement        7719
9                  setcollection        5631
7                    hexagongrid        5060
50                    simulation        4420
35               rollspinandmove        4313
36          variableplayerpowers        4256
22                  opendrafting        3877
10                 tileplacement        3172
39                  gridmovement        3104
55               cooperativegame        3006
20                  modularboard        2765
1          areamajorityinfluence        2624
53                  areamovement        2256
63                        memory        2170
23          pointtopointmovement        2136
107            solosolitairegame        2135
5    simultaneousactionselection        2111
11                  actionpoints        2082
70                      takethat        2082

In [1269]:
df3[df3.name == 'Drawing']

        name  occurences
169  Drawing          21

In [1254]:
df3['listedWords'] = df3['listedWords'].str.capitalize()
df3['listedWords'] = df3['listedWords'].apply(lambda x: mechanics.loc[mechanics['name'].str[:3] == x[:3], 'name'].values[0] if any(mechanics['name'].str[:3] == x[:3]) else x)
df3

          listedWords  occurences
0           Alliances          97
1        Area-Impulse        2624
2     Auction/Bidding        1811
3        Dice Rolling       12926
4     Hand Management        7719
..                ...         ...
189    Neighbor Scope           5
190    Bids As Wagers           3
191       Legacy Game          53
192   Auction/Bidding           3
193  Resource to Move          11

[194 rows x 2 columns]

In [1255]:
# fill game_type
gt = game_types.astype(str).set_index('bgg_id')['name']
game_items['game_type'] = game_items['game_type'].astype(str)
game_items['game_type'] = (
    game_items['game_type'].str.split(',')
    .explode().map(gt).astype(str).groupby(level=0).agg(','.join)
)
game_items['game_type']

0        Strategy Game
1        Strategy Game
2        Strategy Game
3        Strategy Game
4        Strategy Game
             ...
43087    Uncategorized
43088    Uncategorized
43089    Uncategorized
43090    Uncategorized
43091    Uncategorized
Name: game_type, Length: 43092, dtype: object

In [1256]:
# break down lists for top 20 values in game type

res = []
for i, elem in enumerate(game_items["game_type"].to_list()):
    res.extend([''.join(filter(str.isalnum, e)).lower() for e in elem.split(sep=",")]) 


# make a new df to read better
df4 = pd.DataFrame()
df4 = df4.assign(listedWords=Counter(res).keys(),    # list each unique elements
                occurences=Counter(res).values())   # list occurences
df4.sort_values(by='occurences', ascending=False).head(10)

     listedWords  occurences
1  uncategorized       25301
6        wargame        7247
3     familygame        2883
0   strategygame        2723
2   abstractgame        2355
8  childrensgame        1772
4       thematic        1447
7      partygame         759
5   customizable         372
9            nan           4

In [1257]:
# Use a lambda function to replace values in df1 based on matching first 5 letters
df4['listedWords'] = df4['listedWords'].str.capitalize()
df4['listedWords'] = df4['listedWords'].apply(lambda x: game_types.loc[game_types['name'].str[:5] == x[:5], 'name'].values[0] if any(game_types['name'].str[:5] == x[:5]) else x)
df4

       listedWords  occurences
0    Strategy Game        2723
1    Uncategorized       25301
2    Abstract Game        2355
3      Family Game        2883
4         Thematic        1447
5     Customizable         372
6          Wargame        7247
7       Party Game         759
8  Children's Game        1772
9              Nan           4

In [1258]:
game_items

       bgg_id  ... complexity
0           1  ...          4
1           2  ...          1
2           3  ...          2
3           4  ...          2
4           5  ...          2
...       ...  ...        ...
43087  389817  ...          2
43088  389997  ...          2
43089  390199  ...          2
43090  390607  ...          2
43091  391137  ...          3

[43092 rows x 12 columns]

In [1259]:
# review rankings
# out of 113904, only 24479 are ranked
rankings.dropna(subset=['rank'], inplace=True)
rankings.reset_index(drop=True)
rankings

/var/folders/nn/t4c1n2z11_g_hd91q77nxzb80000gn/T/ipykernel_82076/3853810171.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rankings.dropna(subset=['rank'], inplace=True)

                   name     rank
0            Die Macher    369.0
1          Dragonmaster   4490.0
2               Samurai    252.0
3        Tal der Könige   5990.0
4               Acquire    319.0
...                 ...      ...
112485          Fiction  11444.0
112579   Cloudy Kingdom  15122.0
112666     Planet Trade  16635.0
112762  Deadly Dowagers  11644.0
113021          Line-it  21440.0

[24479 rows x 2 columns]

In [1260]:
# rename dfs occurences cols for better reading
df2.rename(columns={'listedWords':'name'}, inplace=True)
df3.rename(columns={'listedWords':'name'}, inplace=True)
df4.rename(columns={'listedWords':'name'}, inplace=True)

In [1261]:
# save datasets for future use
# game_items.to_pickle('board_games.pkl')

# save data for visualization
# game_items.to_csv('board_games_clean.csv')
# rankings.to_csv('rankings.csv')
# df2.to_csv('categories_occurences.csv')
# df3.to_csv('mechanics_occurences.csv')
# df4.to_csv('gametypes_occurences.csv')

***

#### Test webscraping

In [1262]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.buzzfeed.com/jamesgrebey/mind-boggling-facts-about-board-games'
response = requests.get(url)
response.status_code

200

In [1263]:
# make that good soup
soup = BeautifulSoup(response.text, 'html.parser')

In [1264]:
# find all ps
text = []
# print all content
for p in soup.find_all('p'):
    print(p.get_text())
    text.append(p.get_text())

Reading these won't be a trivial pursuit.
BuzzFeed Staff
1. Original paper versions of Battleship included land areas in addition to the water.
2. Battleship was one of the first games to be made into a computer game in 1979.
3. The inventor of Boggle, Allan Turoff, was married in FAO Schwarz's dollhouse department.
4. In order to prevent Boggle players from using a certain swear word, the letters F and K only appear once on the same cube, making it impossible for them to both be played at the same time.
5. Candy Land was at the center of one of the first disputes over domain names on the web, as in the mid-'90s candyland.com was a porn site. Hasbro successfully sued for control of the domain.
6. Candy Land was invented by a retired schoolteacher while she was recovering from polio.
7. The phrase "back to square one" might have been inspired by Chutes and Ladders.
8. The player who goes first in Connect Four can win 100% of the time.
9. A traditional Connect Four board has 4,531,985,219,092 possible positions.
10. There is an urban legend that David Bowie invented Connect Four. English radio DJ Stuart Maconie made that particular piece of trivia up.
11. There is an unconfirmed story that Captain Cook was one of the first people to play a Connect Four-style game. The famous explorer apparently spent so much time in his quarters playing the game that it was nicknamed "cabin mistress."
12. The inventor of Cranium came up with the idea for the game after he and his wife dominated another couple in Pictionary, but lost horribly in Scrabble.
13. Cranium was the first non-coffee product to be sold at Starbucks.
14. It was also the first game to be sold on Amazon and at Barnes and Noble.
15. The original Game of Life featured spaces for suicide, disgrace, poverty, and prison.
16. The Checkered Game of Life, the precursor to the modern Game of Life, was Milton Bradley's first and only game.
17. A Life tile awarding the player $100,000 for winning a Nobel Prize was replaced with a new tile providing the same amount for appearing on a reality TV show.
18. The name Jenga is based on the Swahili word meaning "to build."
19. According to Hasbro, the tallest Jenga tower ever was 40 levels tall plus two additional blocks on top.
20. The longest Monopoly game ever went on for 70 straight days.
21. Parker Brothers once sent a group of players who had run out of money during a 161-hour marathon game extra cash by plane and an armored car.
22. It's possible (though incredibly improbable) to win a two-player game of Monopoly in only 21 seconds. It would take four turns and only nine rolls of the dice.
23. The most expensive Monopoly set in the world is worth $2 million. It was crafted with 23-karat gold, rubies, sapphires, and diamonds.
24. The prisoner on the jail space has a name: Jake the Jailbird.
25. Fidel Castro banned Monopoly in Cuba.
26. In World War II, the Allies smuggled maps, compasses, and files to POWs by hiding them in Monopoly sets.
27. Parker Brothers prints 30 times more Monopoly money every year than the United States prints real money.
28. The prize money for winning the Monopoly World Championship is $20,580 — the same amount of money there is in the game's bank.
29. The tokens were inspired by pieces on a charm bracelet on the suggestion of inventor Charles Darrow's niece.
30. Operation was invented by a sophomore at the University of Illinois in 1962 as part of a class assignment to invent a game or toy.
31. The inventor, John Spinello, only made $500 off his game after selling the prototype.
32. The "patient" in Operation is named "Cavity Sam."
33. The "brain freeze" ailment was added to the game in 2003 following a public vote, beating out "growling stomach" and "tennis elbow."
34. Ouija boards were widely regarded as "harmless parlor tricks" until famous spiritualists began taking them seriously in World War I.
35. A convicted murderer was once awarded a retrial because four of the jurors used a Ouija board to determine his guilt.
36. Musician Alice Cooper adopted his stage name after a Ouija board told him he was a the reincarnation of a 17th-century witch.
37. Risk was invented by Albert Lamorisse, a famous french film director best known for his short film The Red Balloon.
38. There are 13 words in the official Scrabble dictionary that are impossible to play even using both blank tiles, including KNICKKNACK, PIZZAZZ, and SENSELESSNESSES.
39. Assuming you get the right triple word and double letter tiles, the highest possible scoring words are NETZAHUALCOYOTL and CZECHOSLOVAKIAN.
40. Using all of your letters in one turn is called a Bingo.
41. Inventor Alfred Mosher Butts determined how many of each letter there should be by counting letters on the pages of the New York Times, and other popular newspapers.
42. Scrabble is an official sport in several African countries, including Senegal and Mali.
43. One in three American households has a Scrabble set.
44. Official Scrabble tournaments use totally flat tiles so players can't pick the letters they want by "brailing" and feeling the surface of the tiles.
45. The first 5,000 copies of Settlers of Catan sold out so fast that inventor Klaus Teuber doesn't have a copy of the first edition.
46. Two journalists invented Trivial Pursuit in 45 minutes after being shocked at the price of a Scrabble set.
47. The author of a series of trivia encyclopedias sued the makers of Trivial Pursuit for allegedly stealing questions from his books, as one question was an intentionally wrong fact he'd put in to thwart copiers.
48. In the early '80s there was only one company in the United States that had the special card stock for Trivial Pursuit's questions, and there were huge delivery delays as a result.
49. According to Hasbro, Yahtzee was invented by a wealthy Canadian couple who liked to play the game on their Yacht.
50. The probability of rolling a Yahtzee in one roll is 1 in 1296. The chances of doing it in all 13 rounds of a normal game are 1 in 29 duodecillion — A 41 decimal-long number.

In [1265]:
# turn it into a df
fun_facts = pd.DataFrame({'fun_fact': text})
fun_facts

                                             fun_fact
0           Reading these won't be a trivial pursuit.
1                                      BuzzFeed Staff
2   1. Original paper versions of Battleship inclu...
3   2. Battleship was one of the first games to be...
4   3. The inventor of Boggle, Allan Turoff, was m...
5   4. In order to prevent Boggle players from usi...
6   5. Candy Land was at the center of one of the ...
7   6. Candy Land was invented by a retired school...
8   7. The phrase "back to square one" might have ...
9   8. The player who goes first in Connect Four c...
10  9. A traditional Connect Four board has 4,531,...
11  10. There is an urban legend that David Bowie ...
12  11. There is an unconfirmed story that Captain...
13  12. The inventor of Cranium came up with the i...
14  13. Cranium was the first non-coffee product t...
15  14. It was also the first game to be sold on A...
16  15. The original Game of Life featured spaces ...
17  16. The Checkered Game of Life, the precursor ...
18  17. A Life tile awarding the player $100,000 f...
19  18. The name Jenga is based on the Swahili wor...
20  19. According to Hasbro, the tallest Jenga tow...
21  20. The longest Monopoly game ever went on for...
22  21. Parker Brothers once sent a group of playe...
23  22. It's possible (though incredibly improbabl...
24  23. The most expensive Monopoly set in the wor...
25  24. The prisoner on the jail space has a name:...
26          25. Fidel Castro banned Monopoly in Cuba.
27  26. In World War II, the Allies smuggled maps,...
28  27. Parker Brothers prints 30 times more Monop...
29  28. The prize money for winning the Monopoly W...
30  29. The tokens were inspired by pieces on a ch...
31  30. Operation was invented by a sophomore at t...
32  31. The inventor, John Spinello, only made $50...
33  32. The "patient" in Operation is named "Cavit...
34  33. The "brain freeze" ailment was added to th...
35  34. Ouija boards were widely regarded as "harm...
36  35. A convicted murderer was once awarded a re...
37  36. Musician Alice Cooper adopted his stage na...
38  37. Risk was invented by Albert Lamorisse, a f...
39  38. There are 13 words in the official Scrabbl...
40  39. Assuming you get the right triple word and...
41  40. Using all of your letters in one turn is c...
42  41. Inventor Alfred Mosher Butts determined ho...
43  42. Scrabble is an official sport in several A...
44  43. One in three American households has a Scr...
45  44. Official Scrabble tournaments use totally ...
46  45. The first 5,000 copies of Settlers of Cata...
47  46. Two journalists invented Trivial Pursuit i...
48  47. The author of a series of trivia encyclope...
49  48. In the early '80s there was only one compa...
50  49. According to Hasbro, Yahtzee was invented ...
51  50. The probability of rolling a Yahtzee in on...